/* Button Style */
.t-Button--sr {
    position: relative;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 0px 10px 25px;
    min-width: 120px;
    height: 35px;
    color: #fff !important;
    font-weight: 100;
    font-size: 15px;
    background: linear-gradient(135deg, #5b5fc7, #b23cff);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .15), inset 0 1px 1px rgba(255, 255, 255, .25);
    /* transition: all .3s ease; */
}
.t-Button--sr:hover {
    /* transform: translateY(-2px); */
    box-shadow: 0 10px 18px rgba(0,0,0,.20), inset 0 1px 1px rgba(255,255,255,.25);
}
/* Circular Icon Area */
.t-Button--sr .fa, .t-Button--sr .t-Icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(98 0 0 / 80%);
    box-shadow: 0px 0px 20px 3px blue;
    background: rgba(255, 255, 255, .12);
    color: #fff;
}
/* Color Variations */
.btn-1 {
    background: linear-gradient(135deg, #5865c7, #a62cff) !important;
}
.btn-2 {
    background: linear-gradient(135deg, #ff4b6e, #ff008a) !important;
}
.btn-3 {
    background: linear-gradient(135deg, #ff6b57, #ffbf47) !important;
}
.btn-4 {
    background: linear-gradient(135deg, #3c8ce7, #5bc6b8) !important;
}
.btn-5 {
    background: linear-gradient(135deg, #45d4c8, #bc7ee8) !important;
}

.t-Button--sr-icon {
    position: relative;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 0px 10px 0px;
    min-width: 100px;
    height: 35px;
    color: #fff !important;
    font-weight: 100;
    font-size: 15px;
    background: linear-gradient(135deg, #5b5fc7, #b23cff);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .15), inset 0 1px 1px rgba(255, 255, 255, .25);
}


/* 
.t-Button--sr-icon .fa, .t-Button--sr-icon .t-Icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgb(98 0 0 / 80%);
    box-shadow: 0px 0px 20px 3px blue;
    background: rgba(255, 255, 255, .12);
    color: #fff;
} */